@media screen and (min-width:992px){
/* CSS Document */
html,body{
    font-family: 'Open Sans', sans-serif;
}
/***** hEADER STRARTS******/
header{
    background: rgba(22,71,148, .6);
    height: 108px;
    border-top: 5px solid #164794;
	position: absolute;
	width: 100%;
	z-index: 100;
}
header  ul{
    float: right;
    height: 52px;
    margin: 0;
    padding: 0;
    margin-top: 52px !important;
    margin-right: -15px !important;
}
header .active a{
    border-bottom: 2px solid #b6040e;
}

header  ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    margin-left: 33px;
}
header ul li a{
    padding-bottom: 23px;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff !important;
    
}
header ul li a:hover,
header ul li a:focus{
	border-bottom:2px solid #b6040e;
	text-decoration:none;
}
header img{
    margin-top: 15px;
	float:left;
    width: auto;
}
/****** MAin slider   ******/
#main-slider{
	width:100%;
    position: relative;
    top:auto;
}
#main-slider .item{
    height: 800px;
	background-size: cover;
	background-position: center;
}
#main-slider .carousel-indicators{
    left: auto;
    right: 45px;
    text-align: right;
    top: 50%;
    width: 14px;
}
#main-slider .carousel-indicators li{
    margin-bottom: 14px;
    border: 1px solid #373836;
}

/******Features #c-text *******/
#c-text h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #164794;
    margin-bottom: 16px;
}
#c-text{
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #d4dce9;
}
#c-text .carousel-inner{
    background: #d4dce9;
}
#c-text .carousel-inner .item{
    height:360px;
    margin-top: 56px;
}
#c-text .container .carousel-indicators .active li{
    border: 1px solid #000;
}
#c-text .container .carousel-indicators .active{
    background: #000;
}
#c-text .container .carousel-indicators li{
    border: 1px solid #adb8c6;
}
#c-text .container a{
}
#c-text .container .row  ins{
    margin: 0 14px;
    background: #d4dce9;
}
#c-text span{
    float: left;
    margin-right: 15px;
}
#c-text h3{
    font-weight: 600;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
}
#c-text .bgg{
    width: 300px;
    text-align: left;
    float: left;
    
}
#c-text .carousel-inner .item  .col-md-4.col-xs-12  .bgg img{
    height: 150px;
    width: 300px;
    border-bottom: 2px solid #bb151e;
}
#c-text .bgg p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 28px;
    color: #616d7b;
    line-height: 22px;
}
/******Menu items ********/

/*******  team starts ********/
#team{
    text-align: center;
    padding-bottom: 90px;
}
#team h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #164794;
    margin-bottom: 16px;
    margin-top: 70px;
}
#team .container .row  ins{
    margin: 0 14px;
    background: #fff;
}
#team p{
    font-size: 17px;
    margin-top:64px;
    font-weight: 400;
    color: #5b646e;
    font-family: 'Open Sans', sans-serif;
}
#team .images{
    position: relative;
    width: 270px;
    height: 300px;
}
#team.images img{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 15px !important;
    
}
#team .team a:hover{
    color: #164794;
    text-decoration: none;
}
#team .team a{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-top: 22px !important;
}
#team .team h5{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #979ca1;
    margin-top: 13px;
}
#team .team{
    margin-top: 64px;
}
#team .images .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;   
    z-index:100;
    visibility: hidden;
    text-align: center;
}
#team .images .overlay h3{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    
}
#team .images .overlay p{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    line-height: 34px;
}
#team .images .overlay a img{
    width: 135px;
    height: 42px;
    display: block;
    margin: auto auto 25px auto;
}

#team .images .overlay:hover{
     background: rgba(164,74,79,.8);
    visibility: visible;
    
 }
#team .images:hover .overlay{
    visibility: visible;
}
/******Fun starts ********/
#fun{
    background: url(../images/fun/banner.png) no-repeat;
    text-align: center;
    padding: 95px 0 115px 0;
	
	background-size: cover;
	background-position: center;
}
#fun h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #98252c;
    margin-bottom: 16px;
}
#fun .container .row  ins{
    margin: 0 14px;
    background: none;
}
#fun .fun-contain h4{
	font-family: 'Open Sans' sanserif;
	font-weight:400;
	font-size:18px;
}
#fun .fun-contain{
    margin-top: 65px;
}

/****** contact us ********/
#contact{
    padding: 50px 0 40px 0;
    text-align: center;
}
#contact h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #b3b7ba;
    margin-bottom: 16px;
}
#contact .container .row  ins{
    margin: 0 14px;
    background: #fff;
}
#contact .contact{
    margin-top: 55px;
    text-align: left;
}
#contact .contact > p{
    font-weight: 600;
    font-size: 18px;
    color: #5b646e;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    margin-bottom: 80px;
}
#contact .contact .aside > p{
    font-size:22px;
    font-weight: 400;
    color: #5b646e;
    font-family: 'Open Sans',sans-serif;
    text-align: left;
}
#contact .contact .aside a{
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    color: #6a737b;
}
#contact .contact .aside text{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: #6a737b;
}
#contact .contact .message p{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    color: #000;
    margin-bottom: 40px;
}
#contact .contact .message  .col-md-12.text label{
	color: #cccccc;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}
#contact .contact .message  .col-md-12.text{
	padding-left:0px;
    color: #cccccc;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
	border-bottom: 1px solid #cccccc;
	width:100%;
	margin-top:44px;
}
#contact .contact .message  .col-md-12.text  input.form-control{
	border: none;
    box-shadow: none;
    border-radius: 0!important;
    color: #cccccc;
	height:25px;
	margin-left:10px;
	padding:0px;
	padding-bottom: 10px;
	width:90% !important;
}
#contact .contact .message .form-group .form-control{
    border: none;
    box-shadow: none;
    border-radius: 0!important;
    color: #cccccc;
	height:25px;
	margin-left:10px;
	padding:0px;
	padding-bottom: 10px;
	width:80%;
    
    
}
#contact .contact .message .form-group label{
    
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;

}
#contact .contact .message .form-group.email{
	
	margin-left:20px;
}
#contact .contact .message .form-group{
	padding-left:0px;
    color: #cccccc;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
	border-bottom: 1px solid #cccccc;
	width:370px;
}
#contact .contact .message button img{
    margin-right: 10px;
}
#contact .contact .message button{
    border: none !important;
    background: #fff;
    
}

#contact .contact .message .form-control input{
    border: none;
}
#contact .contact .tfg{
    text-align: center;
    vertical-align: middle;
    margin-top: 90px;
}
#contact .contact .tfg a{
    margin-bottom: 8px;
    display: block;
}

/***** map starts ******/
.map{
    border-bottom: 5px solid #98252c;
    background: url(../images/fun/map.jpg) left top;
    height: 220px;
    width: 100%;
}
footer{
    background: #14438a;
    padding: 90px 0 34px 0;
    border-bottom: 141px solid #98252c; 
}
footer p{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 400px;
    color: #e9ecf2;
    margin-top: 25px;   
}
footer .f-box{
    margin-bottom: 70px;
	background: #000;
}
footer .f-contain  h2{
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    margin-top: 21px;
    margin-bottom: 40px;
}

footer a{
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
}
footer a:hover{
    color: #fff;
}
}
